html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: cursive !important;
}


img{
  max-width: 100%;
  max-height: 100%;
}
td {
  border: 5px solid #b00020;
  width: 100px;
  height: 100px;
}
td:hover {
  background-color: #333; 
  width: 100px;
  height: 100px;
}

table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p{
  padding-left: 10%;
  padding-right: 10%;
}
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.banner {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.topnav {
  align-items: center;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.topnav div {
  border: 5px solid #b00020;
  color: #f2f2f2;
  text-align: center;
  justify-content: space-evenly;
  padding: 14px 16px;
  width: 10%;
  height: 10%;
  transition: 0.5s;
}

.topnav div:hover {
  border-width: 0px;
  background-color: #ddd;
  width: 20%;
  height: 20%;
}

.column {
  width: 25%;
  padding: 15px;
  transition: width 0.5s;
}

.column:hover {
  width: 200%;
}

.row {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

#badMoonCheckbox {
  display: none;
}
.badMoon {
  display: none ;
  height:1px;
  transition-delay: 1s;
}
#badMoonCheckbox:checked ~ .badMoon {
  display: flex;
  height: 350px;
  transition-delay: 1s;
}

.badMoonHeader {
  display: none ;
}
#badMoonCheckbox:checked ~ .badMoonHeader {
  display: block;
}

#violetsCheckbox {
  display: none;
}
.violets {
  display: none ;
}
#violetsCheckbox:checked ~ .violets {
  display: flex;
}

.violetsHeader {
  display: none ;
}
#violetsCheckbox:checked ~ .violetsHeader {
  display: block;
}


#brewingCheckbox {
  display: none;
}
.brewing {
  display: none ;
}
#brewingCheckbox:checked ~ .brewing {
  display: flex;
}
.brewingHeader {
  display: none ;
}
#brewingCheckbox:checked ~ .brewingHeader {
  display: block;
}
.brewingTopNav{
  margin:20px;
}
.violetsTopNav{
  margin:20px;
}
.badMoonTopNav{
  margin:20px;
}
#brewingCheckbox:checked ~ .topnav .brewingTopNav {
  background-color: #ddd;
  margin: 0px;
  border-width: 0px;
  width: 20%;
  height: 20%;
}
#violetsCheckbox:checked ~ .topnav .violetsTopNav {
  background-color: #ddd;
  margin: 0px;
  border-width: 0px;
  width: 20%;
  height: 20%;
}
#badMoonCheckbox:checked ~ .topnav .badMoonTopNav {
  background-color: #ddd;
  margin: 0px;
  border-width: 0px;
  width: 20%;
  height: 20%;
}
.roleImg{
  max-width: 32%;
  max-height: 32%;
}
.footer{
  background-color: #f1f1f1;
  text-align: center;
  float: left;
  width: 100%;
}
.bigTextContener{
  background-color: #f1f1f1;
  text-align: center;
  float: left;
  width: 100%;
}

#XOWinBanner{
  display: none;
}
.XOWinBanner{
  text-align: center;
}
.XOResetButtonCointener{
  padding: 40px;
  text-align: center;
}
.XOResetButton{
  border-radius: 11px;
  font-size: 20px;
}

/* Navigation bar css */

.sidenav {
  height: 0%;
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
  overflow: hidden;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
  border-right: 5px solid rgb(176, 0, 32);
  border-bottom: 5px solid rgb(176, 0, 32);
  box-shadow: rgb(17 17 17) 2px 2px;
  opacity: 0.9;
}

.sidenav a {
  padding: 8px 24px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .menuButton {
  position: absolute;
  top: 0px;
  padding-left: 26px;
}

.sidenav .menuButton span {
font-size: 40px;
}
.carousel{
  text-align: -webkit-center;
}

.changeLanguage{
  position: absolute;
  text-align: center;
  top: 10px;
  color: white;
  right: 10px;
}

.cookieBanner{
  position: fixed;
  z-index: 1;
  background: white;
  border: solid;
  width: 90%;
  text-align: center;
  padding: 20px;
  bottom: 5px;
  right: 5%;
  border-radius: 20px;
}

.cookieButton{
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.hideOnMobile{
  display: none;
}